html,
body {
  margin: 0;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  background: #3f51b5;
}
#root {
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: auto;
  .skewed {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 65%;
    background: #2c3e50;
    transform: skewY(9deg);
    transform-origin: top right;
    z-index: 0;
  }
  .navBtns {
    margin: 10px;
    align-self: center;
    z-index: 1;
    button {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      div {
        padding: 5px;
      }
    }
  }
  .formContainer {
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 4px;
    width: 100vw;
    max-width: 800px;
    padding: 0.5rem;
    .autofill {
      position: absolute;
      padding: 5px;
      margin: 10px;
      top: 0;
      right: 0;
    }
    div {
      margin: 0.5rem;
    }
  }
  header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    z-index: 1;
    color: #25966b;
  }
  main {
    background: #d5d8dc;
    padding: 5px 30px;
    flex: 1;
    z-index: 1;
    overflow-y: auto;
    .PdfButton {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  footer {
    text-align: center;
    z-index: 1;
  }
}
.hidden {
  display: none;
}
button {
  color: #d5d8dc;
  background: #3f51b5;
  &:hover {
    color: #000;
    background: #25966b;
  }
}
