@import url('http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300');
ul {
  padding: 0 0 0 20px;
}
.preview {
  width: 90%;
  max-width: 800px;
  background: #f3f3f3;
  margin: 30px auto;
  overflow: auto;
  font-size: 16px;
  z-index: 1;
  #cv {
    width: 90%;
    max-width: 800px;
    background: #f3f3f3;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    .mainDetails {
      padding: 10px 35px;
      border-bottom: 2px solid #cf8a05;
      background: #ededed;
      display: flex;
      justify-content: space-between;
      #name h1 {
        font-size: 2.5em;
        font-weight: 700;
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        margin-bottom: -6px;
        align-items: center;
      }
      #contactDetails {
        padding-top: 25px;
      }
    }
  }
  #mainArea {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    .keySkills {
      list-style-type: none;
      -moz-column-count: 3;
      -webkit-column-count: 3;
      column-count: 3;
      margin-bottom: 20px;
      font-size: 1em;
      color: #444;
      ul li {
        margin-bottom: 3px;
      }
    }
    .subDetails {
      font-size: 0.8em;
      font-style: italic;
      margin-bottom: 3px;
    }
    section {
      border-top: 1px solid #dedede;
      padding: 5px 0 0;
    }

    section:first-child {
      border-top: 0;
    }

    section:last-child {
      padding: 5 + px 0 10px;
    }

    .sectionTitle {
      float: left;
      width: 25%;
    }

    .sectionContent {
      float: right;
      width: 72.5%;
    }

    .sectionTitle h1 {
      font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 1.5em;
      color: #cf8a05;
    }

    .sectionContent h2 {
      font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 1.5em;
      margin-bottom: -2px;
    }
  }
}
p {
  font-size: 1em;
  line-height: 1.4em;
  margin: 10px 0px;
  color: #444;
}

#contactDetails ul {
  list-style-type: none;
  font-size: 0.9em;
  margin-top: 2px;
  li {
    margin-bottom: 3px;
    color: #444;
    a,
    a[href^='tel'] {
      color: #444;
      text-decoration: none;
      transition: all 0.3s ease-in;
      a:hover {
        //not working
        color: #cf8a05;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.quickFade {
  animation-name: reset, fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in;
}
