@import url('http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300');
ul {
  padding: 0 0 0 20px;
}
p {
  font-size: 1em;
  line-height: 1.4em;
  margin: 10px 0px;
  color: #444;
}
h5 {
  margin: 5px 0;
  color: #444;
}
.preview {
  font-size: 16px;
  z-index: 1;
  #cv {
    background: #f3f3f3;
    .titleDetails {
      border-bottom: 2px solid #3f51b5;
      background: #25966b;
      display: flex;
      justify-content: space-between;
      #name h1 {
        font-size: 2.5em;
        font-weight: 700;
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        margin-bottom: -6px;
        padding-left: 15px;
        color: #fff;
      }
      #contactDetails {
        padding-top: 25px;
        padding-right: 15px;
        ul {
          list-style: none;
          color: #fff;
          a {
            color: #fff;
            &:hover {
              color: rgba(255, 255, 255, 0.8);
            }
          }
        }
      }
    }
  }
  #mainArea {
    display: flex;
    flex-direction: column;
    .keySkills {
      list-style-type: none;
      column-count: 3;
      margin-bottom: 20px;
      font-size: 1em;
      color: #444;
      ul li {
        margin-bottom: 3px;
      }
    }
    .sectionTitle {
      width: 25%;
      padding-left: 30px;
      h1 {
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        font-style: italic;
        font-weight: 400;
        font-size: 1.5em;
        color: #3f51b5;
      }
    }
    .sectionContent {
      width: 72.5%;
      padding-right: 10px;
      h2 {
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        font-weight: 400;
        font-size: 1.5em;
        margin-bottom: -2px;
      }
    }
    .subDetails {
      font-size: 0.8em;
      font-style: italic;
      margin-bottom: 3px;
    }
    section {
      display: flex;
      border-top: 1px solid #25966b;
      padding: 5px 0 0;
      &:first-child {
        border-top: 0;
      }
      &:nth-child(3) {
        padding: 5px 0 45px;
      }
      &:last-child {
        padding: 10px;
        border-bottom: 1px solid #25966b;
      }
    }
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.quickFadeIn {
  animation-name: reset, fade-in;
  animation-duration: 0.7s;
  animation-timing-function: ease-in;
}
