.skills {
  display: flex;
  font-size: 16px;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  margin-bottom: 0;
  input {
    line-height: 25px;
    margin: 0.2em;
  }
  div {
    display: flex;
    svg {
      margin: 0 0.5em;
      &:hover {
        path {
          fill: #25966b;
        }
      }
    }
  }
}
